
/* 页面左右间距 */
$page-row-spacing: 20upx;
$page-color-base: #f8f8f8;
$page-color-light: #f8f6fc;
$base-color: #fa436a;

/* 文字尺寸 */
$font-base: 28upx;
$font-xsm: 22upx;
$font-sm: 24upx;
$font-md: 30upx;
$font-lg: 32upx;
$font-xl: 40upx;
/*文字颜色*/
$font-color-dark: #303133;
$font-color-base: #606266;
$font-color-light: #909399;
$font-color-disabled: #C0C4CC;
$font-color-spec: #4399fc;
/* 边框颜色 */
$border-color-dark: #DCDFE6;
$border-color-base: #E4E7ED;
$border-color-light: #EBEEF5;
/* 图片加载中颜色 */
$image-bg-color: #eee;
/* 行为相关颜色 */
$uni-color-primary:#fa436a;
$uni-color-success: #4cd964;
$uni-color-warning: #f0ad4e;
$uni-color-error: #dd524d;



/* 输入款样式 */ 
$input-color:#2D2F56;
$input-p-color:#B1B5C5;
$input-size:28upx;
$input-family:PingFang-SC-Medium;
$input-weight:500;

.placeholder-class	{
		color: $input-p-color;
		font-size: $input-size;
		font-family: $input-family;
		font-weight:$input-weight;
}
.input{
	color: $input-color;
	font-size: $input-size;
	font-family: $input-family;
	font-weight:$input-weight;
}