

.auth-header{
	height: 314upx;
	background:linear-gradient(232deg,rgba(104,129,255,1),rgba(115,156,255,1));
	padding: 0 30upx;
	.back-head{
		height: 90upx;
		line-height: 90upx;
		image{
			width: 17upx;
			height: 31upx;
			vertical-align: middle;
		}
	}
	
}
.auth-form{
	padding: 0 30upx;
	
	.input-form-cell{
		display: flex;
		padding-bottom: 17upx;
		height: 98upx;
		align-items: flex-end;
		box-sizing: border-box;
		border-bottom: 2px solid #F0F0F0;
		.line{
			width:2upx;
			height:28upx;
			background:rgba(240,240,240,1);
			margin-left: 41upx;
			margin-right: 46upx;
		}
		.area-code{
			padding-right: 12upx;
			position: relative;
			background: url('/static/assert/select-icon.png') no-repeat;
			background-position: right bottom;
			background-size: 12upx;
			font-size:28upx;
			line-height: 28upx;
			height: 28upx;
			font-family:PingFang-SC-Medium;
			font-weight:500;
			color:rgba(45,47,86,1);
			
		}
		.password-icon{
			width: 33upx;
			height: 41upx;
			vertical-align: bottom;
			margin-right: 64upx;
			margin-left: 18upx;
		}
		.email-icon{
			width: 35upx;
			height: 28upx;
			vertical-align: bottom;
			margin-right: 64upx;
			margin-left: 18upx;
		}
		.invate-code-icon{
			width: 36upx;
			height: 39upx;
			vertical-align: bottom;
			margin-left: 18upx;
			margin-right: 60upx;
		}
	}
	.code-cell{
		display: flex;
		height: 104upx;
		justify-content: space-between;
		align-items: flex-end;
		input{
			border-bottom: 1px solid #F0F0F0;
			padding-bottom: 24upx;
			padding-left: 18upx;
		}
		button{
			margin-right: 0;
			width:296upx;
			height:69upx;
			line-height: 69upx;
			background:rgba(227,232,238,1);
			border-radius:10upx;
			font-size:30upx;
			font-family:PingFang-SC-Medium;
			font-weight:500;
			color:rgba(255,255,255,1);
			border: 0;
			
		}
	}
}
.auth-form-head{
	margin-bottom: 23upx;
	.auth-form-tabstext{
		width: 100%;
		display: flex;
		height: 96upx;
		align-items: center;
		.tabs-text{
			width: 50%;
			text-align: center;
			font-size:30px;
			font-family:PingFang-SC-Medium;
			font-weight:500;
			color:rgba(102,102,102,1);
		}
		.tabs-text.actived{
			color:rgba(104,129,255,1);
		}
	}
	.auth-form-tabsdot{
		height:4px;
		background:rgba(227,232,238,1);
		border-radius:2px;

		position: relative;
		text{
			display: inline-block;
			width: 50%;
			height: 100%;
			background:rgba(104,129,255,1);
			position: absolute;
			left: 0;
			top: 0;
			transition: ease-in	 600ms;
		}
		.actived-dots-0{
			transform: translateX(0);
		}
		.actived-dots-1{
			transform: translateX(100%);
		}
	}
	
	
}
#radio{
	width: 28upx;
	height: 28upx;
}
.radio{
	font-size:22upx;
	font-family:PingFang-SC-Medium;
	font-weight:500;
	color:rgba(147,157,163,1);
	padding-left: 25upx;
	
}
.link{
	font-size:30upx;
	font-family:PingFang-SC-Medium;
	font-weight:500;
	color:rgba(104,129,255,1);
	text-align: center;
	margin-top: 53upx;
}
.auth-buttons{
	button{
		width:516px;
		height:69px;
		line-height: 69upx;
		background:linear-gradient(-90deg,rgba(104,129,255,1),rgba(115,156,255,1));
		border-radius:10px;
		font-size:30px;
		font-family:PingFang-SC-Medium;
		font-weight:500;
		color:rgba(255,255,255,1);
		margin-top: 57upx;
	}
}

#mobile,#email{
	position: relative;
}
.auth-bg{
	margin-top: -74upx;
	image{
		height: 86upx;
		
		width: 100%;
	}
	
}